body {
    color: white;
    background-color: #1a1a1a;
}

.title {
    font-size: 60px;
}

.small_title {
    font-size: 38px;
    margin-left: 12%;
    margin-right: 20%;
}

.small_title2 {
    font-size: 38px;
    margin-left: 8%;
}

.arial {
    font-style: normal;
    font-weight: bold;
}

.text_normal {
    font-size: 23px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 14%;
    margin-right: 20%;
}

.text_normal2 {
    font-size: 23px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 8%;
}

.vk_widget {
    display: inline;
}

#image {
    width: 60%;
}

.url {
    color: aqua;
}

.url:hover {
    color:dodgerblue;
}

.url:active {
    color:blue;
}

#portfolio {
    float: left;
}

#portfolio_img {
    width: 40%;
    margin-right: 20px;
}

.ramka {
    background-color: #292929;
}

.examples {
    margin-left: 15%;
    margin-right: 15%;
}

#but {
    background-color: #292929;
    color: white;
    width: 23%;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    .vk_widget {
        display: none;
    }

    .examples {
        margin-left: 1%;
        margin-right: 1%;
    }

    #but {
        background-color: #292929;
        color: white;
        width: 80%;
        height: 85px;
        font-size: 40px;
        border-radius: 15px;
    }

    #portfolio_img {
        width: 80%;
    }

    #image {
        width: 100%;
    }

    .small_title {
        font-size: 39px;
        margin-left: 10%;
        margin-right: 20%;
    }

    .text_normal {
        font-size: 25px;
        font-style: italic;
        font-weight: lighter;
        margin-left: 12%;
        margin-right: 3%;
    }

    .title {
        font-size: 75px;
    }
    
}